.card {
    display: flex;
    width: 1000px;
    justify-content: space-between;
    align-items: center;

    border-radius: 16px;

    background-color: rgba(64, 64, 64, 0.5);

    transition:
        0.3s background-color,
        0.4s box-shadow;
    border: 4px solid transparent;

    padding: 8px 16px;

    cursor: auto;
    backdrop-filter: blur(16px);
}

.repoLink {
    color: #eee;

    font-size: 16px;
    line-height: 20px;
    flex: 1;

    width: 300px;
    text-overflow: ellipsis;
}

.stars {
    display: flex;
    align-items: center;

    gap: 8px;

    width: 100px;
}

.button {
    display: flex;
    align-items: center;
    gap: 8px;

    background-color: #222;
    color: #eee;

    padding: 4px 16px;

    border-radius: 8px;

    &:hover {
        background-color: #111;
    }
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.link {
    text-decoration: none;
    height: 100%;
}

.starIcon {
    transition: all 0.2s;
    fill: transparent;

    &:hover {
        fill: #eee;
    }
}

.date {
    font-size: 16px;
    line-height: 24px;
    opacity: 0.85;
    flex: 1;

    min-width: 160px;
    max-width: 300px;

    & span {
        font-style: italic;
    }
}

.cardHeader {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1024px) {
    .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        flex: 1;
    }
    .link {
        height: 100%;
    }

    .button {
        height: 100%;
    }

    .date {
        max-width: 100%;
    }

    .card {
        flex: 1;
        width: calc(100vw - 40px);

        gap: 8px;
    }
}

@media (max-width: 768px) {
    .card {
        flex-direction: column;
        align-items: stretch;
    }

    .button {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .link {
        flex: 1;
    }

    .info {
        flex-direction: column;
    }

    .cardHeader {
        flex: 1;
        width: 100%;
        justify-content: space-between;
        gap: initial;
    }

    .repoLink {
        width: fit-content;
    }
}
