.ClearInputBtn {
    width: 24px;
    height: 24px;

    color: #1a1a1a;

    position: absolute;
    top: 8px;
    right: 8px;

    border-radius: 4px;
}

.repoSearch {
    position: relative;

    width: 600px;

    display: flex;
    justify-content: center;

    & > input {
        flex: 1;
    }

    @media (max-width: 600px) {
        width: 100%;
    }
}
