.button {
    min-width: 40px;
    height: 40px;
    padding: 4px;

    line-height: 32px;
    font-size: 24px;

    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #eee;
    background-color: #333;

    border: none;
    cursor: pointer;

    transition: all 0.2s;
    text-align: center;

    &:not(:disabled):hover {
        background: #222;
        box-shadow: 0 0 4px #111;
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.paginator {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.dots {
    width: 24px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.active {
    background-color: #222;
    border: 2px solid #666;

    &:hover {
        background-color: #111 !important;
    }
}

.arrow {
    &:first-of-type {
        margin-right: 20px;
    }

    &:last-of-type {
        margin-left: 20px;
    }
}

@media (max-width: 400px) {
    .arrow {
        &:first-of-type {
            margin-right: 0;
        }

        &:last-of-type {
            margin-left: 0;
        }
    }
}
