.button {
    width: 40px;
    height: 40px;
    padding: 4px;

    line-height: 32px;
    font-size: 24px;

    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #eee;
    background-color: #2a2acd;

    border: none;
    cursor: pointer;

    transition: all 0.2s;
    text-align: center;

    &:not(:disabled):hover {
        background: rgba(42, 42, 205, 0.7);
    }

    &:disabled {
        opacity: 0.8;
        cursor: not-allowed;
    }
}

.paginator {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.dots {
    width: 24px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.active {
    background-color: #1d1d9d;
    border: 2px solid #1a1a88;

    &:hover {
        background-color: #161688;
    }
}
