.button {
    line-height: 18px;
    font-size: 16px;
    color: #1a1a1a;
    padding: 4px;
    border: none;

    cursor: pointer;

    display: flex;
    align-items: center;

    transition:
        background-color 0.3s,
        color 0.3s;
}

.ghost {
    background: transparent;
    color: #eee;

    &:hover {
        background: rgba(244, 244, 244, 0.1);
    }
}

.primary {
    background: #2a2acd;

    &:hover {
        background: rgba(26, 26, 26, 0.1);
    }
}
